.header {
  /* width: 90%; */
  height: 5rem;
  background-color: #0092d0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

.logo {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 10;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #c291e2;
}

.header button:hover {
  background-color: #c291e2;
  color: #38015c;
}

/* .header {
  font-family: Arial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #0092d0;
  color: white;
  display: flex;
  justify-content: normal;
  align-items: center;
  padding: 0 0%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.title {
  position: relative;
  top: 0px;
  left: 200px;
}

.button {
  position: relative;
  top: 0px;
  left: 300px;
}

 */
